<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelaTico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelaTico.Web.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#fdfbd4; background-image:url('/images/fondo.jpg'); background-size:cover; background-position:center; background-attachment:fixed; background-repeat:no-repeat; min-height:100vh; display:flex; flex-direction:column;">
    
    <header>
        @await Html.PartialAsync("_Menu")
    </header>

    <div class="container mt-4 flex-grow-1">
        <main role="main"
              class="p-4 rounded-4 shadow-lg"
              style="background:#fdfbd4;">
            @RenderBody()
        </main>
    </div>

    <footer class="text-white text-center p-3 mt-4"
            style="background:#c3342d;">
        <div class="container">
            <small>
                © 2026 HelaTico 🍦 |
                Heladería |
                <a class="text-white"
                   asp-controller="Home"
                   asp-action="Privacy">
                    Privacidad
                </a>
            </small>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage)
        </script>
    }
</body>
</html>
