<style>
    .navbar-hela .nav-link {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .5px;
    }

    .navbar-hela .dropdown-menu {
        background-color: #fdfbd4;
    }

    .navbar-hela .navbar-brand {
        font-weight: 700;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark shadow navbar-hela"
     style="background:#0a4195;">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index","Home")">
            <img src="~/images/logo.png"
                 alt="HelaTico"
                 style="width:44px;height:44px;border-radius:50%;object-fit:cover;margin-right:10px;border:2px solid #fff;" />
            HelaTico
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="nav-link"
                       asp-controller="Home"
                       asp-action="Index">
                        Inicio
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="bi bi-arrow-repeat"></i> Procesos
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Producto"
                               asp-action="ProductoCards">
                                Productos Disponibles
                            </a>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Preparacion"
                               asp-action="Index">
                                Proceso de Preparacion
                            </a>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Menu"
                               asp-action="MenusDisponibles">
                                Menús Disponibles
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="bi bi-wrench"></i> Mantenimientos
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Producto"
                               asp-action="Index">
                                Productos
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Combo"
                               asp-action="Index">
                                Combos
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Menu"
                               asp-action="Index">
                                Menús
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
